.DS_Store
.vscode/settings.json

doc/
dist/
build/
_data/
tests/data/

# ai
.claude/
.continue/
.qoder/
.kiro/
.spec-workflow/
.kilocode/
.kilocode/rules/
.clinerules/
CLAUDE.md
QWEN.md
.continue/rules/
